<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css"> </link>
    </head>

    <body>
        <div class="container">
            <div class="flash-messages">
                {% for message in get_flashed_messages() %}
                    {{ message}}
                {% endfor %}
            </div>
            <div id="todo-list">

                {% for list in lists %}
                    <div class="todo-list-item">
                        <input id="item{{list.id}}" type="checkbox"></input>
                        <label for="item{{list.id}}"> {{list.list_name}}</label>                    
                    </div>
                {% endfor %}

                <form method="POST">
                    <input type="text" name="todo_list_name"></input>
                    <input type="submit" value="Create new list"></input>
                </form>

            </div>
        </div>

        <script src="/static/js/jquery-2.1.0.js"></script>
        <script src="/static/js/app.js"></script>
    </body>
</html>