<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css"> </link>
    </head>

    <body>
        <div class="container">
            <h2> Things to do </h2>
            <div class="flash-messages">
                {% for message in get_flashed_messages() %}
                    {{ message}}
                {% endfor %}
            </div>
            <div id="todo-list">

                {% for item in items %}
                    <div class="todo-list">
                        <input id="item{{item.id}}" type="checkbox"></input>

                        <label for="item{{item.id}}">{{item.task}}</label>
                    </div>
                {% endfor %}

                <form id="todo-item-form" method="POST">
                    <input type="text" name="task"></input>
                    <input type="submit" value="Create item list"></input>
                </form>

            </div>
        </div>

        <!-- Javascript files are already being loaded. Feel free to add more if needed -->
        <script src="/static/js/jquery-2.1.0.js"></script>
        <script src="/static/js/app.js"></script>
    </body>
</html>